form {
    width: 100%;
}

.task-input {
    width: 100%;
    padding: .8rem;
    background-color: var(--bg-input);
    border-radius: 10px;
    font-size: 1rem;
    color: var(--text-color);
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.buttons>*~* {
    margin-left: 10px;
}